src/main/mule/mfcs/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">


	<flow name="api-main">
        <http:listener config-ref="mfcs-int-024p-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<set-variable value='#[attributes.headers."type"]' doc:name="FV:vRequest" doc:id="3e1fcb34-2f94-48e2-b911-6ff11096763b" variableName="vRequest"/>
		<apikit:router config-ref="mfcs-int-024p-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mf-delete-ISCDim">
		<flow-ref doc:name="sf-ISCDimDel" doc:id="03221a19-3218-405f-a1b8-d487d3772e02" name="sf-ISCDimDel"/>
    </flow>
    <flow name="mf-delete-Item">
		<flow-ref doc:name="sf-ItemDel" doc:id="e18c784f-047a-4208-98f6-cbbed11121e0" name="sf-ItemDel"/>
    </flow>
    <flow name="mf-delete-ItemBOM">
        <flow-ref doc:name="sf-itemBOMDel" doc:id="a268a3d0-97bb-4a01-b470-dc4989500436" name="sf-itemBOMDel"/>
    </flow>
    <flow name="mf-delete-ItemImage">
		<flow-ref doc:name="sf-ItemImageDel" doc:id="aabcff7b-fcae-4111-ac86-13e8fcb60253" name="sf-ItemImageDel"/>
    </flow>
    <flow name="mf-delete-ItemSup">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-ItemTckt">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-ItemUDADate">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-ItemUDAFF">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-ItemUDALOV">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-ItemUPC">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-RelItemDet">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-RelltemHead">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-iSCMfr">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-delete-itemSupCty">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-ISCDim">
        <flow-ref doc:name="Sf-ISCDimMod" doc:id="240974ad-40dc-4d02-87cf-594e56007545" name="Sf-ISCDimMod"/>
    </flow>
    <flow name="mf-patch-ItemBOM">
        <flow-ref doc:name="sf-itemBOMMod" doc:id="dad4b476-853d-4796-835f-678085e955ea" name="sf-itemBOMMod"/>
    </flow>
    <flow name="mf-patch-ItemHdr">
        <flow-ref doc:name="Sf-ItemHdrMod" doc:id="104f3d85-8c42-4ffb-8df7-1e4068739e70" name="Sf-ItemHdrMod"/>
    </flow>
    <flow name="mf-patch-ItemImage">
		<flow-ref doc:name="sf-ItemImageMod" doc:id="d365b1cc-c14c-4021-9d08-edc8ee1aa7d8" name="sf-ItemImageMod"/>
    </flow>
    <flow name="mf-patch-ItemSup">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-ItemUDADate">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-ItemUDAFF">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-ItemUDALOV">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-ItemUPC">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-RelItemDet">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-iSCMfr">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-patch-itemSupCty">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-ISCDim">
        <flow-ref doc:name="sf-post-ISCDim" doc:id="62e903e4-4fb1-46d6-9197-3d6bea1285a5" name="sf-post-ISCDim"/>
    </flow>
    <flow name="mf-post-Item">
        <flow-ref doc:name="sf-post-ItemCre" doc:id="17666b0b-5ac3-406f-85d0-6beefd72f486" name="sf-post-ItemCre"/>
    </flow>
    <flow name="mf-post-ItemBOM">
        <flow-ref doc:name="sf-itemBOMCre" doc:id="7b24e282-5f76-4d58-a61d-ee378fbc4517" name="sf-itemBOMCre"/>
    </flow>
    <flow name="mf-post-ItemImage">
        <flow-ref doc:name="sf-ItemImageCre" doc:id="97fcae1b-d977-41e2-803a-60496017e8fa" name="sf-ItemImageCre"/>
    </flow>
    <flow name="mf-post-ItemSup">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-ItemTckt">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-ItemUDADate">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-ItemUDAFF">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-ItemUDALOV">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-ItemUPC">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-RelItemDet">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-RelltemHead">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-iSCMfr">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="mf-post-itemSupCty">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Successfully Published"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
